/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

html,
 body {
    background-image: url(./intro-component-with-signup-form-master/images/bg-intro-desktop.png);
    background-color: rgb(245, 220, 182);
    overflow: hidden;
 }

 .main-section {
    border: 1px solid rgb(121, 114, 114);
    display: flex;
    justify-content: center;
    margin: 20px 400px;
    border-radius: 12px;
    box-shadow: 10px 9px 9px rgba(0, 0, 0, 0.3)
 }
 h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: grey;
 }

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    
}
 input {
    padding: 10px;
    margin: 8px;
    width: 110%;
    border-radius: 6px;
    border: none;
 }

 input:hover {
    border: 2px solid palevioletred;
    cursor: pointer;
    background-color: bisque;
 } 
 
 .submit {
    width: 50%;

 } */


 /* NEW CSS CODE FOR NEW FORM */

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body {
   background-color: rgb(4, 32, 4);
 
 }

 .section1 {
padding: 10px;
 }
  
  h1 {
   text-align: center;
   color: beige;
   /* padding: 12px; */
   font-family: 'Heebo', sans-serif;
   font-weight: 700;
   font-size: 35px;
  }

article {
   text-align: center;
   color: rgb(91, 91, 91);
   padding: 10px;
}

h2 {
   font-weight: 600;
}

.section2 {
   margin: 12px;
   border: 2px solid beige;
   padding: 15px;
}

h3 {
   color: beige;
   font-size: 20px;
}
 h3 span {
   opacity: 0.5;
 }

 form {
   padding: 10px;
   /* margin: 20px; */
 }

 label {
   color: rgb(201, 201, 198);

 }

 input {
   padding: 13px;
   width: 100%;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 15px;
   margin-bottom: 10px;
 }



